*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background: #0ea598;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
     text-decoration: none;
     color: #fff;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    transition: 0.5s;
}
button span{
     display: block;
     background: #999;
     height: 26px;
     width: 26px;
     border-radius: 50%;
     margin-left: 2px;
     transition: 0.5s;
}

.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;

}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.box{
    width: 330px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"] ,.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type = "password"]:focus{


    width: 270px;
    border-color: #2ecc71;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}


.control{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-top: 150px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 8px 20px;
    border-radius: 2px;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;

}

.active{
    background: green;
}
.active span{
    background: #fff;
    margin-left: 32px;
}
.on{
    opacity: 1;
}
